/.phpunit.cache
/bootstrap/ssr
/node_modules
#/public/build
/public/hot
# Ignore public/storage contents except logos and MISO - ID
/public/storage/*
!/public/storage/logos
!/public/storage/logos/**
!/public/storage/MISO - ID
!/public/storage/MISO - ID/**
/storage/*.key
/storage/pail
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/vendor
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
